h1 {color: rgb(110, 83, 228);
    font-size:  22px;
    text-align: center;}
li{ font-size: 22px;}
.text-1{color: blue;}
.text-2{color: rgb(196, 199, 42);}
.text-3{color: rgb(46, 170, 30);}
.text-4{color: rgb(180, 17, 172);}
img{width: 500px;
height: 200px
;}
